body {
    font-family: source-sans-pro, sans-serif;
    font-size: 15px;
}

.font-big{
    font-size: x-large;
}
.container-top{
    padding-top: 10px;
}
.each .thumbnail{
    height: 75px !important;
    overflow: hidden;
    padding: 0px;
    cursor: pointer;
}
.each img {
    margin: auto;
}

.modal-content img{
    max-width: 100%;
}
